@font-face {
    font-family: 'আবু জে এম আক্কাস';
    src: url('/fonts-ttf/Li Abu J M Akkas Unicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'চায়না তিস্তা';
    src: url('/fonts-ttf/Li Chayana Teesta Unicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'হাসান প্রতিলিপি';
    src: url('/fonts-ttf/Li Hasan Protilipi Unicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'শহীদ শাফকাত সামির';
    src: url('/fonts-ttf/Li Shohid Shafkat Samir Unicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'শহীদ তাহমিদ তামিম';
    src: url('/fonts-ttf/Li Shohid Tahmid Tamin Unicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
